{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Bienvenido, {{ current_user.username }}!</h1><BR>
    <div class="row" style="margin: 0 auto;">
        <table id="table_id" class="display compact">
            <thead>
                <tr>
                    {% for cl in columnas %}
                        <th>{{cl}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for f in facturas %}
                    <tr>
                        {% for elem in f %}
                            <td>{{elem}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    {% for cl in columnas %}
                        <th>{{cl}}</th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    {{super()}}
    <script>
        $(document).ready( function () {
            'use strict';

			var oTable;

            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            oTable = $('#table_id').DataTable({
                "language": {
                    "url": "{{ url_for('static', filename='es_lg.json') }}"
                },
                columnDefs: [
                    {
                        targets: [ -1, -2],
                        className: 'dt-body-right dt-head-center'
                    },
                    {
                        targets: -3,
                        className: 'dt-body-center dt-head-center'
                    }
                  ],
                responsive: true,
                dom: '<"panel panel-info"<".panel-heading"l<".label"B>f><".panel-body"rt<".panel-footer"ip>>>',
				buttons: [  {
                                extend: 'copy',
                                text: 'Copiar'
                            },
                            {
                                extend: 'csv',
                                text: 'Exportar'
                            }]
            });
            yadcf.init  (
                            oTable,
                            [   {   column_number : 0,
                                    filter_type: "select",
                                    filter_delay: 500
                                },
                                {   column_number : 3,
                                    filter_type: "range_date",
                                    date_format: "dd/mm/yyyy",
                                    filter_delay: 500
                                },
                                {   column_number : 6,
                                    filter_type: "select",
                                    filter_delay: 500
                                }
                            ],
                                {language : {	'select': 'Elija un valor',
                                                'select_multi': 'Elija los valores',
                                                'filter': 'Tipo a filtrar',
                                                'range': ['Desde', 'Hasta'],
                                                'date': 'Elija una Fecha'
                                            }
                                }
                        );
        });
    </script>
{% endblock %}